<!DOCTYPE html>
<html lang='es'>
    <%- include('../../partials/head'); %>
    <body class='bg-light min-vh-100'>
        <%- include('../../partials/header'); %>
            <main class='container-lg'>
                <section class='row bg-white rounded my-5'>
                  <article class='col-12 '>
                    <h2 class='text-center pt-4'>Administrador de Productos</h2>
                  </article>
                  <article class='col-12'>
                    <a href='/admin/product/create' class='text-decoration-none'><i class='fas fa-plus-circle'></i>    Agregar un producto</a>
                  </article>
                  <article class='col-12' >
                  <table class='table'>
                      <thead>
                        <tr>
                          <th >Id</th>
                          <th class='w-75'>Nombre</th>
                          <th class="text-center align-middle">Ver</th>
                          <th class="text-center align-middle">Editar</th>
                          <th class="text-center align-middle">Borrar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% productos.forEach( producto => { %>
                        <tr>
                          <td><%= producto.id%> </td>
                          <td><%= producto.productName%> </td>
                          <td class="text-center align-middle"><a href='/product/detail/<%= producto.id%>'class="text-decoration-none h5"> <i class='far fa-eye'></i></ion-icon></a></td>
                          <td class="text-center align-middle"><a href='/admin/product/edit/<%= producto.id%>'class="text-decoration-none h5"> <i class='fas fa-edit'></i></ion-icon></a></td>
                          <td class="text-center align-middle"><form action='/admin/product/delete/<%= producto.id%>?_method=DELETE' method='POST'><button type='submit' class='btn btn-outline-danger'><i class='fas fa-trash-alt'></i></button></form></td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table> 
                  </article>       
                </section>
            </main>
        <%- include('../../partials/footer'); %>
    </body>
</html>



