<div class="col">
    <div class="card shadow h-100">
        <a href="product/detail/<%= product.id %>"><img src="/images/products/<%= JSON.parse(product.image) %>" class="border-bottom card-img-top"></a>
        <div class="card-body">
            <a href="product/detail/<%= product.id %>" class="text-decoration-none"><span><h6 class="card-title text-primary text-truncate col-12"><%= product.name %></h6></span></a>
            <small class="text-secondary">Modelo:  <%= product.model %></small>
            <div class="d-flex justify-content-between">
                <h6>$<%= product.price %><small>(IVA INC)</small></h6>
                <span class="text-secondary">
                    <% if(product.stock > 0){ %> 
                        <small class="product-stock">EN STOCK</small>
                    <% }else{ %>
                        <small class="product-stock">SIN STOCK</small>
                    <% } %> 
                </span>
            </div>
            <a href="product/detail/<%= product.id %>" class="mt-2 w-100 btn btn-outline-primary">VER MAS</a>
        </div>
    </div>
</div>