<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="bg-light  min-vh-100">
        <section class="container-lg">
            <div class="row d-flex justify-content-center">
                <%- include('../main/catalogFilters'); %>
                <div class="col-lg-9">
                    <div class="my-1 row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-4">
                        <% products.forEach( product => { %>
                            <%- include('../partials/productCard', {product: product}); %>
                        <% }); %>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>